h1 {
    font-family: 'Cinzel Decorative';
}

h3 {
    font-family: 'Crimson Text';
}

#headerh3 {
    font-family: 'Crimson Text';
    background-color: white;
    color: black;
    font-style: italic;
}

#thinking {
    font-style: italic;
}

p {
    font-family: 'Cormorant Garamond';
    line-height: normal;
}
  


.vertical-line {
    border-left: 1px solid black; 
    height: 80px;
}

.horizontal-line {
    border: none; 
    border-top: 1px solid black;
    margin: 10px 0;
  }

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    color: black;
}

.horror {
    color: red;
}